nav {
    z-index: 20000;
}
.nav-title {
    font-family: 'Fira Code';
    margin-left: 169px;
    font-weight: 600;
    font-size: 32px;
}
.router {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.form-control {
  width: 288px;
}
